<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>web0809</display-name>
  
  
  <!-- 우리가 작성한 서블릿은 .class 형태로 보안디렉토리인 WEB_INF에 들어있을므로 브라우저에서 주소깁력하여
  직접 접근이 불가능하다. 즉 내부적으로 누군가가 연결해줘야 하는데 이때 사용되는 설정이 서브릿매핑이다 -->
  
  
  	
  	<servlet>
  		<servlet-name>registServlet</servlet-name>
        <servlet-class>com.aca.web0809.board.RegistServlet</servlet-class>	
  	</servlet>
  	
  <servlet-mapping>
  	<servlet-name>registServlet</servlet-name>
  	<url-pattern>/board/regist</url-pattern>
  </servlet-mapping>
  
  <servlet>
  		<servlet-name>deleteServlet</servlet-name>
        <servlet-class>com.aca.web0809.board.DelServlet</servlet-class>	
  	</servlet>
  	
  <servlet-mapping>
  	<servlet-name>deleteServlet</servlet-name>
  	<url-pattern>/board/delete</url-pattern>
  </servlet-mapping>
  
</web-app>