<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Notice">
	<!-- 공통 코드 조각 -->
	<sql id="selectCommon">
		select notice_id,title,writer, content, regdate, hit from notice
	</sql>
	
	<!-- 수동매핑 
	1)컬럼명과 dto의 멤버변수가 일치 하지 않을떼
	2) join 구현시 (1:1)association
	  -->	
	<resultMap type="Notice" id="noticeMap">
	<id column="notice_id"  	property="notice_id"/>
	<result column="title" 		property="title"/>
	<result column="writer" 	property="writer"/>
	<result column="content" 	property="content"/>
	<result column="regdate" 	property="regdate"/>
	<result column="hit" 		property="hit"/>
	</resultMap>
	<!-- 뉴스기사 가져오기 -->
	<select id="selectAll" resultType="Notice">
		<include refid="selectCommon"/>
		order by notice_id desc
	</select>

	<!--  한건 가져오기 -->
	<select id="selectOne" resultType="Notice" parameterType="int" resultMap="noticeMap">
		<include refid="selectCommon"></include> where notice_id =#{notice_id}
	</select>

	<!-- 한건등록 -->
	<insert id="insert" parameterType="Notice">
		insert into notice(notice_id,title,writer,content) values(seq_notice.nextval,#{title},#{writer},#{content})
	</insert>
	
	<!-- 한건 수정 -->
	<update id="update" parameterType="Notice" > 
		update notice set title=#{title}, writer =#{writer}, content=#{content} where notice_id=#{notice_id}
	</update>
	
	<!-- 한건 삭제 -->
	<delete id="delete" parameterType="int">
		delete from notice where notice_id  = #{notice_id}
	</delete>
	
</mapper>