<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>web0823</display-name>
	
	<servlet>
		<servlet-name>registServlet</servlet-name>
		<servlet-class>com.aca.web0823.news.RegistServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>registServlet</servlet-name>
		<url-pattern>/news/regist</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>commentregistServlet</servlet-name>
		<servlet-class>com.aca.web0823.news.CommentsRegist</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>commentregistServlet</servlet-name>
		<url-pattern>/comments/regist</url-pattern>
	</servlet-mapping>
	
</web-app>