<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dept">

	<insert id="insert" parameterType="Dept">
		insert into detp(deptno, dname, loc) values(seq_dept.nextval,#{dname},#{loc})
	</insert>
<!--  부서 한건 가져오기-->
	<select id="select" parameterType="int" resultType="Dept">
		select * from dept where deptno = #{deptno}
	</select>

</mapper>